	  <div class="custom-menu">
	    <button type="button" id="sidebarCollapse" class="mybutton">
	      <i class="fa fa-carrot"></i> <!-- fa-compass -->
	      <span class="sr-only">Toggle Menu</span>
	    </button>
          </div>

	<nav id="sidebar">

	  
          <div class="sidebar-header">
	  
	    <img src="img/cairn_tech5.png" width="210"
		 alt="little cairns">
	    <div class = "sidebar-headertext">
              <h1>Cairn</h1>
	      <h1>&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;Tech</h1>
	      </div>
            </div>

            <ul class="list-unstyled components">
              <!--<p>Dummy Heading</p>-->
               <!-- <li class="active">
                  <a href="#homeSubmenu"
		     data-toggle="collapse"
		     aria-expanded="false"
		     class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>-->
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                  <a href = "rockdust.html"><a href="#pageSubmenu"
		     data-toggle="collapse"
		     aria-expanded="false"
		     class="dropdown-toggle">Rock Dust Products</a></a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="rockdust.html#Greenstone">Greenstone</a></li>
                        <li><a href="#TorStarter">Tor Starter</a></li>
			<li><a href="#Gypsum">Gypsum +</a></li>
                	<li><a href="#Crossroads">Crossroads</a></li>
                	<li><a href="#Legacy">Legacy</a></li>
                        <li><a href="#Tara">Tara's Tarn</a></li>
			<li><a href="#Rama">Rama Rock</a></li>
			<li><a href="#Nature">Nature's Nectar</a></li>
			<li><a href="#Orange">Orange Blossom</a></li>
                	<li><a href="#Black">Black Gold</a></li>
                	<li><a href="#Krystar">Krystar</a></li>
                
                        
                    </ul>
                </li>
		<li>
		<a href="minerals.html">Essential Minerals</a>	
		</li>
		<li><a target="_blank"
			 href="https://docs.google.com/document/d/1QZ-X9cx7sF7JqppbsHKM1s3GRKxjcQAzCjV8BcBeB5g/edit?usp=sharing">TODO</a>
		    </li>
                <!--<li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>-->
            </ul>
<!--
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>
-->
        </nav>
